<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Book Page</h1>
            <p class="lead">This sample app shows how to use the Microsoft Graph API to access Outlook data from Node.js</p>
        </div>

        <!-- Debug output -->
        <% if(debug){ %>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Debug</h5>
                <pre class="bg-light border p-3"><code><%= debug %></code></pre>
            </div>
        </div>
        <% } %>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Cookie</h5>
                <pre class="bg-light border p-3"><code id="myCookie"></code></pre>
            </div>
        </div>

    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@microsoft/microsoft-graph-client/lib/graph-js-sdk.js"></script>
    <script src="/javascripts/all.js"></script>
</body>

</html>
